$primary-color: rgb(255, 255, 255);
$second-color: rgb(0, 0, 0);


.top-cart {
    height: 400px;
    background-image: url(img/topcart.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading-big {
color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 64px;
font-weight: 600;
line-height: 70px;
letter-spacing: 0%;
text-align: left;
margin-top: 127px;
}
.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;
    &__content {
        grid-column: span 8;
    }
    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }   
    &__name {
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        
    }
    &__item {
        border-top: 0.5px solid rgb(202, 205, 216);
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__left {
        display: flex;
        gap: 32px;
    }
    &__img {
        width: 173px;
        height: 173px;
    }
    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    &__text {
        color: rgb(136, 136, 136);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__price {
        color: rgb(5, 5, 5);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0%;
        
    }
    &__link-box {
        display: flex;
        gap: 30px;
    }
    &__link-text {
        text-decoration: none;
        color: $second-color;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 210%;
        letter-spacing: 0px;
        text-decoration-line: underline;

    }
    &__input {

        border-radius: 6px;
        background: rgb(247, 246, 246);
        width: 71px;
        height: 51px;
        outline: none;
        border-color: transparent;
        font-family: "Montserrat", serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        font-family: "Poppins";
        font-weight: 600;
        text-align: center;
    }
    &__button-box-left {
        display: flex;
            gap: 7px;
    }
&__button {
background-color: #fff;
width: 200px;
height: 37px;
box-sizing: border-box;
border: 1px solid rgb(0, 0, 0);
border-radius: 50px;
font-family: Montserrat;
}

    &__form {
        border-radius: 20px;
        background: rgb(247, 246, 246);
        height: 556px;
        grid-column: span 4;
        
    }
    &__text {
        display: flex;
    }
&__form-bigtext {
    margin-top: 42px;
    width: 379px;
    height: 36px;

    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    
}

&__reg {
    display: flex;
    flex-direction: column;
    gap: 44px;
    margin-top: 35px;
    padding-left: 27px;
    padding-right: 64px;
    
  }
  &__input-reg {
    border-style: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(202, 205, 216);
    outline: none;
    border-radius: 0px;
    

    
  }
  &__input-reg::placeholder{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-decoration-color: black;
    }

&__summa {
display: flex;
flex-direction: column;
align-items: center;
    color: $second-color;
font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0px;
text-align: center;
margin-top: 64.5px;
}
&__button-form {
width: 290px;
height: 41px;
box-sizing: border-box;
border: 1px solid rgb(4, 4, 4);
border-radius: 20px;
margin-top: 18px;
background: rgb(247, 246, 246);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
}
}
