@media ( max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
.header {
    padding-top: 32px;
    border-bottom: 0px;
    &__input {
        display: none;
    }
}
.top-content {

        text-align: center;
   
    &__title {
        width: 343px;
        height: 177px;
        font-size: 48px;
        font-weight: 600;
        line-height: 59px;
        letter-spacing: 0%;
        text-align: center;
    }
    &__link {

        width: 343px;
        height: 24px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        text-decoration-line: underline;
    }   

}
    .top__menu {
        display: none;

    }
    .heading-big {
        color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 59px;
letter-spacing: 0%;
text-align: center;
    }
    .for-title {
        color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
width: 178px;
height: 29px;
    }
    .catalog-top {
        &__menu {
            display: none;  
        }
        &__input {
            display: none;
        }
        &__header {
            border-bottom: none;
        }
        
    }
.option {
    display: flex;
    flex-wrap: wrap;  
}    
.option__filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}  
.product-filter {
    width: 164px;
    height: 41px;
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
margin-right: 34px;    
}  
.product-filter1 {
    width: 203px;
    height: 41px;
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
}
.filtering-form {
    position: absolute;
    width: 286.5px;
   
    left: 16px;
    gap: 10;
padding: 40px 48px 40px 48px;
box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
background: rgb(255, 255, 255);
        
    display: flex;
    flex-direction: column;
    &____content-wrapper {
        display: flex;
    flex-direction: column;     
    }
}
    .logo {
        &__img {
        width: 99px;
    }
}
.menu-mobile {
display: block;
display: flex;
gap: 32px;
}
.icon-mobile {
    margin-top: 2px;
}
.for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0%;
    }
    &__catalog {
        grid-column: 1 / -1;
        height: 375px;
        font-size: 28px;
        line-height: 34px;
    &_big {
        height: 244px;
    }
    }
    }
    .special {
        &__title {
            width: 342.91px;
            height: 58px;
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            letter-spacing: 0%;
        }
        &__link {
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0%;
        }
        &__text {
            width: 342.93px;
            height: 52px;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
        }
    }
    .price {
        font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
&_special {
font-size: 18px;
font-weight: 500;
line-height: 22px;
}
    }
    .footer {
        padding-bottom: 32px;
        &__info {
            display: flex;    
            gap: 100px;
            margin-bottom: 70px;
            }
&__button {
margin-top: 69px;
justify-content: center;
gap: 8px;
}
&__text {
    margin: 0;
}

    }

    h4 {
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;

    }
    .cart {
grid-row: 2;
            width: 343px;
            height: 556px;
            border-radius: 20px;
        background: rgb(247, 246, 246); 
        padding-left: 27px;
        padding-right: 28px;      
    }
&__form-bigtext {
    width: 343px;
height: 36px;
display: flex;
justify-content: center;
align-items: center;
color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0px;
text-align: center;

}
&__form {
    margin-top: 48px;
}
&__content {
    grid-column: span 4;  
    width: 375px;  

}
        &__title {
            
            height: 58px;
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            letter-spacing: 0%;
        }
        &__link {
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0%;
        }
        &__text {
            
            height: 52px;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
        }
        &__name-box {
            display: none;
        } 
        &__item {
            border-top: 0.5px solid rgb(202, 205, 216);
            
            padding-top: 25px;
            padding-bottom: 32px;
            display: flex;
            width: 50%;


        }

       
        &__img {
            display: none;
        }
        &__info {
            
            height: 167px;
            display: flex;
            flex-direction: column;
            gap: 14px;
        
        }
        &__text {
            color: rgb(136, 136, 136);
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0%;
            text-align: left;
        }
        &__price {
            color: rgb(5, 5, 5);
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: left;
            
        }
        &__link-box {
            display: flex;
            gap: 30px;
        }
        &__link-text {
            text-decoration: none;
            color: $second-color;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 400;
            line-height: 210%;
            letter-spacing: 0px;
            text-decoration-line: underline;
    
        }
        &__input {
            width: 71px;
            height: 51px;
            border-radius: 6px;
 
        }
        &__button-box-left {
            display: flex;
                gap: 7px;
        }
    &__button {
        width: 166px;
        height: 37px;
        box-sizing: border-box;
border: 1px solid rgb(0, 0, 0);
border-radius: 50px;

    }
           
    }
    .center-mobile {
        margin-left: 57px;
        margin-right: 66px;
      }

}
