@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: Montserrat;
}

a.menu:hover {
  text-decoration: underline;
  font-family: Montserrat;
}

.header {
  height: 76px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  align-items: center;
}

.center {
  padding-left: calc(50% - 610px);
  padding-right: calc(50% - 610px);
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.top {
  height: 735px;
  background-image: url(img/topback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-decoration-color: #FFFFFF;
}
.top__menu {
  display: flex;
  gap: 32px;
}

.top-content__title {
  color: #FFFFFF;
  margin-top: 64px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.top-content__text {
  color: #FFFFFF;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
}
.top-content__link {
  color: #FFFFFF;
}

.menu-mobile {
  display: none;
}

h1.top__catalog_title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
}

.header__input {
  width: 288px;
  height: 41px;
  gap: 0px;
  border-radius: 20px;
  border: 16px 0px 16px 0px;
  opacity: 0px;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
  text-align: left;
  font: inherit;
  outline: none;
  font-family: Montserrat;
}

.header__input::-moz-placeholder {
  color: #FFFFFF;
}

.header__input::placeholder {
  color: #FFFFFF;
}

.menu {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.menu-link {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.menu-link-1 {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.option {
  margin-bottom: 41px;
  display: flex;
  justify-content: space-between;
}

.guide {
  display: flex;
  gap: 10px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

a.guide_link {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
}

.option__filter {
  display: flex;
  gap: 10px;
}

.product__filter {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  padding-left: 23px;
  padding-right: 23px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 182px;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  width: 182px;
  height: 40px;
}

.product__filter1 {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  padding-left: 23px;
  padding-right: 23px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 182px;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  width: 227px;
  height: 40px;
}

.cards {
  position: relative;
}

.icon-box {
  filter: drop-shadow(0px 0px 2px black);
  position: absolute;
  right: 12px;
  top: 13px;
  display: flex;
  gap: 23px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.icon_products {
  width: 24px;
  height: 24px;
}

.cards:hover .icon-box {
  opacity: 1;
}

.icon_products {
  cursor: pointer;
}

.special {
  margin-top: 64px;
}

.products {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.product {
  width: 379px;
  display: flex;
  flex-direction: column;
}

.special__title {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 33px;
}

.special__text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
  font-family: Montserrat;
}

.special__link {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 9px;
}

.prices {
  display: flex;
  gap: 32px;
}

.price-special {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  font-family: Montserrat;
}

.price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
  font-family: Montserrat;
}

.catalog {
  margin-top: 64px;
}

.catalog__title {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}

.catalog__link {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
}

.catalog__text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-top: 8px;
  margin-bottom: 12px;
  font-family: Montserrat;
}

.catalog__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  font-family: Montserrat;
}

p.open__product {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 32px;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

h4 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

li {
  list-style-type: none;
}

.bottom {
  margin-top: 39px;
}

.bottom-link {
  color: #000000;
  text-decoration: underline;
}

.footer {
  margin-top: 64px;
  padding-top: 32px;
  padding-bottom: 59px;
  display: flex;
  justify-content: space-between;
  background: rgb(247, 246, 246);
}
.footer__logo_link {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__menu {
  border: 1px;
}
.footer__menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding-top: 12px;
  font-family: Montserrat;
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer__contact-social {
  display: flex;
  gap: 20px;
}
.footer__button {
  display: flex;
  flex-direction: column;
  width: 260px;
}
.footer__text {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 8px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__input-mail {
  box-sizing: border-box;
  color: rgb(196, 196, 196);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  border-radius: 16px;
  width: 260px;
  height: 40px;
  border-radius: 16px;
  border-width: 1px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
}
.footer__input-mail::-moz-placeholder {
  padding-left: 17px;
  padding-top: 12px;
}
.footer__input-mail::placeholder {
  padding-left: 17px;
  padding-top: 12px;
}

a.footer__menu-link:hover {
  text-decoration: underline;
  font-family: Montserrat;
}

a.footer__menu-link {
  color: #888888;
  text-decoration: none;
  font-family: Montserrat;
}

a.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  font-family: Montserrat;
}

.contact {
  margin-top: 12px;
}

.button {
  margin-top: 8px;
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid rgba(222, 215, 215, 0.41);
  box-sizing: border-box;
  border-radius: 16px;
  height: 40px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
}

img {
  width: 100%;
}

.for-title {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0%;
}

.for-box {
  padding-top: 64px;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__catalog {
  height: 415px;
  grid-column: span 4;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for__catalog_big {
  grid-column: span 6;
}

.for__catalog_1 {
  background-image: url(img/forrelax.jpeg);
}

.for__catalog_2 {
  background-image: url(img/forwork.jpeg);
}

.for__catalog_3 {
  background-image: url(img/forkitchen.jpeg);
}

.for__catalog_4 {
  background-image: url(img/forchild.jpeg);
}

.for__catalog_5 {
  background-image: url(img/forbath.jpeg);
}

button:hover {
  border-radius: 50px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
}

.top-cart {
  height: 400px;
  background-image: url(img/topcart.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-big {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart__content {
  grid-column: span 8;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart__name {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
.cart__item {
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__img {
  width: 173px;
  height: 173px;
}
.cart__info {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart__text {
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.cart__price {
  color: rgb(5, 5, 5);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
.cart__link-box {
  display: flex;
  gap: 30px;
}
.cart__link-text {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-decoration-line: underline;
}
.cart__input {
  border-radius: 6px;
  background: rgb(247, 246, 246);
  width: 71px;
  height: 51px;
  outline: none;
  border-color: transparent;
  font-family: "Montserrat", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-family: "Poppins";
  font-weight: 600;
  text-align: center;
}
.cart__button-box-left {
  display: flex;
  gap: 7px;
}
.cart__button {
  background-color: #fff;
  width: 200px;
  height: 37px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  font-family: Montserrat;
}
.cart__form {
  border-radius: 20px;
  background: rgb(247, 246, 246);
  height: 556px;
  grid-column: span 4;
}
.cart__text {
  display: flex;
}
.cart__form-bigtext {
  margin-top: 42px;
  width: 379px;
  height: 36px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.cart__reg {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 35px;
  padding-left: 27px;
  padding-right: 64px;
}
.cart__input-reg {
  border-style: none;
  background-color: transparent;
  border-bottom: 1px solid rgb(202, 205, 216);
  outline: none;
  border-radius: 0px;
}
.cart__input-reg::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-decoration-color: black;
}
.cart__input-reg::placeholder {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-decoration-color: black;
}
.cart__summa {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 64.5px;
}
.cart__button-form {
  width: 290px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  margin-top: 18px;
  background: rgb(247, 246, 246);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.body {
  font-family: "Montserrat", sans-serif;
}

.catalog-top {
  height: 400px;
  background-image: url(img/top_catalog.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-decoration-color: #FFFFFF;
}
.catalog-top__header {
  height: 76px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  align-items: center;
}
.catalog-top__menu {
  display: flex;
  gap: 32px;
}
.catalog-top__content {
  margin-top: 128px;
}
.catalog-top__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
}
.catalog-top__menu-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  width: Hug 170px px;
  height: Hug 20px px;
}
.catalog-top__input {
  width: 288px;
  height: 41px;
  gap: 0px;
  border-radius: 20px;
  border: 16px 0px 16px 0px;
  opacity: 0px;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
  text-align: left;
  font: inherit;
  outline: none;
}
.catalog-top__input::-moz-placeholder {
  color: #FFFFFF;
}
.catalog-top__input::placeholder {
  color: #FFFFFF;
}
.catalog-top .__title {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0%;
  text-align: left;
}

.catalogs {
  margin-top: 32px;
}

.catalog {
  margin-top: 32px;
}
.catalog__products {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.catalog__cards {
  position: relative;
}
.catalog__product {
  width: 378px;
  display: flex;
  flex-direction: column;
}
.catalog__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}
.catalog__text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-top: 8px;
  margin-bottom: 12px;
}
.catalog__link {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.option {
  margin-bottom: 41px;
  display: flex;
  justify-content: space-between;
}

.guide {
  display: flex;
  gap: 10px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

a.guide__link {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
}

.option__filter {
  display: flex;
  gap: 10px;
}

.product-filter1 {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  padding-left: 23px;
  padding-right: 23px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 182px;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  width: 227px;
  height: 40px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.icon-box {
  filter: drop-shadow(0px 0px 2px black);
  position: absolute;
  right: 12px;
  top: 13px;
  display: flex;
  gap: 23px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.icon_products {
  width: 24px;
  height: 24px;
}

.cards:hover .icon-box {
  opacity: 1;
}

.icon_products {
  cursor: pointer;
}

p.open-product {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 32px;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

li {
  list-style-type: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.product-filter {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  padding-top: 9px;
  padding-left: 23px;
  padding-right: 23px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 182px;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  width: 182px;
  height: 40px;
  font-weight: 500;
  text-align: start;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.filtering-form {
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px 40px 48px;
  z-index: 10;
}

.filter-button-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 182px;
  height: 40px;
  border-radius: 20px;
  min-height: 40px;
  font: inherit;
  cursor: pointer;
  background-color: #FFFFFF;
}

.filtering-form__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px 65px;
}

.filtering-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  border: none;
}

.filtering-form__fieldset--type {
  padding-right: 40px;
}

.filtering-form__legend {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.filtering-form__button {
  margin: 0;
  padding: 0;
  align-self: flex-end;
  max-width: 190px;
  position: relative;
  width: 190px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 76px 10px 76px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 20px;
  min-height: 40px;
  font: inherit;
  margin-left: 55px;
  cursor: pointer;
  background-color: #FFFFFF;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio__input {
  display: none;
}

.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}

.radio__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: #FFFFFF;
}

.radio__input:checked + .radio__label::before {
  border-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L7.5 0.5' stroke='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.range__input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
}

.range__input,
.range__input::-webkit-slider-runnable-track,
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

.range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000;
}

.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}

.range__input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
}

.range__input::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.range__input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}

.range__slider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
}

.range__slider input {
  position: absolute;
}

.colour-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}

.color-options-checkbox {
  width: 15px;
  height: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox__input {
  display: none;
}

.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}

.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L7.5 0.5' stroke='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  border-color: black;
}

.checkbox__label--white::before {
  background-color: #fff;
  border-color: #080808;
}

.checkbox__label--black::before {
  background-color: #000;
  border-color: #000;
}

.checkbox__label--grey::before {
  background-color: gray;
  border-color: gray;
}

.checkbox__label--red::before {
  background-color: red;
  border-color: red;
}

.checkbox__label--orange::before {
  background-color: orange;
  border-color: orange;
}

.checkbox__label--yellow::before {
  background-color: yellow;
  border-color: yellow;
}

.checkbox__label--green::before {
  background-color: green;
  border-color: green;
}

.checkbox__label--teal::before {
  background-color: #40e0d0;
  border-color: #40e0d0;
}

.checkbox__label--light-blue::before {
  background-color: #009fe3;
  border-color: #009fe3;
}

.checkbox__label--blue::before {
  background-color: #00f;
  border-color: #00f;
}

.checkbox__label--purple::before {
  background-color: #800080;
  border-color: #800080;
}

.checkbox__label--violet::before {
  background-color: #8a2be2;
  border-color: #8a2be2;
}

.checkbox__label--lavender::before {
  background-color: #d89aff;
  border-color: #d89aff;
}

.checkbox__label--pink::before {
  background-color: #ff1493;
  border-color: #ff1493;
}

.checkbox__input:checked + .checkbox__label--black::before,
.checkbox__input:checked + .checkbox__label--blue::before,
.checkbox__input:checked + .checkbox__label--purple::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L9 1' stroke='white'/%3E%3C/svg%3E%0A");
}

.radio__input {
  display: none;
}

.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}

.radio__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: #FFFFFF;
}

.radio__input:checked + .radio__label::before {
  border-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L7.5 0.5' stroke='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex; /* Устанавливает flex-контейнер */
  justify-content: flex-end; /* Выравнивание содержимого контейнера по правому краю */
}

/* Стили для кнопки */
.button {
  border: 1px solid #000; /* Черная рамка толщиной 1px */
  border-radius: 20px; /* Закругленные углы радиусом 20px */
  min-height: 40px; /* Минимальная высота 40px */
  font: inherit; /* Наследует шрифт от родителя */
  padding: 10px 23px; /* Внутренние отступы: 10px сверху и снизу, 23px слева и справа */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  background-color: #fff; /* Белый фон */
}

/* Обертка для кнопки фильтрации */
.filter-button-wrapper {
  position: relative; /* Относительное позиционирование */
  width: 100%; /* Ширина 100% */
  display: flex; /* Flex-контейнер */
  justify-content: flex-end; /* Выравнивание содержимого по правому краю */
}

/* Кнопка фильтрации */
.filter-button {
  font-weight: 500; /* Полужирное начертание */
  text-align: start; /* Текст выравнивается по левому краю */
  max-width: 182px; /* Максимальная ширина 182px */
  width: 100%; /* Ширина 100% */
  border-color: #c4c4c4; /* Цвет рамки серый */
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='9' viewBox='0 0 18 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 9L0.339745 0.749998L17.6603 0.75L9 9Z' fill='black'/%3E%3C/svg%3E%0A"); /* Фоновое изображение стрелки */
  background-repeat: no-repeat; /* Без повтора фонового изображения */
  background-position: right 20px center; /* Позиция фонового изображения: справа 20px и по центру по вертикали */
}

/* Форма фильтрации */
.filtering-form {
  position: absolute; /* Абсолютное позиционирование */
  top: calc(100% + 14px); /* Позиция сверху на 14px ниже нижней границы родителя */
  right: 0; /* Позиция справа от родителя */
  display: flex; /* Flex-контейнер */
  flex-direction: column; /* Выравнивание дочерних элементов по колонке */
  align-items: start; /* Выравнивание по началу строки */
  gap: 36px; /* Промежуток между элементами 36px */
  background-color: #fff; /* Белый фон */
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32); /* Тень элемента */
  padding: 40px 48px; /* Внутренние отступы: 40px сверху и снизу, 48px слева и справа */
}

/* Обертка контента формы фильтрации */
.filtering-form__content-wrapper {
  display: flex; /* Flex-контейнер */
  flex-direction: column; /* Выравнивание дочерних элементов по колонке */
  flex-wrap: wrap; /* Перенос содержимого */
  gap: 32px 65px; /* Промежуток между элементами: 32px по вертикали, 65px по горизонтали */
  max-height: 548px; /* Максимальная высота 548px */
  min-width: 540px; /* Минимальная ширина 540px */
}

/* Поле формы фильтрации */
.filtering-form__fieldset {
  display: flex; /* Flex-контейнер */
  flex-direction: column; /* Выравнивание дочерних элементов по колонке */
  gap: 16px; /* Промежуток между элементами 16px */
  padding: 0; /* Без внутренних отступов */
  border: none; /* Без рамки */
}

/* Поле формы фильтрации с типом */
.filtering-form__fieldset--type {
  padding-right: 40px; /* Отступ справа 40px */
}

/* Заголовок формы фильтрации */
.filtering-form__legend {
  font-size: 16px; /* Размер шрифта 16px */
  font-weight: 500; /* Полужирное начертание */
  margin-bottom: 16px; /* Нижний отступ 16px */
}

/* Кнопка формы фильтрации */
.filtering-form__button {
  align-self: flex-end; /* Выравнивание по правому краю */
  max-width: 190px; /* Максимальная ширина 190px */
  width: 100%; /* Ширина 100% */
}

/* Радио-кнопка */
.radio {
  display: flex; /* Flex-контейнер */
  align-items: center; /* Выравнивание по центру по вертикали */
  gap: 10px; /* Промежуток между элементами 10px */
}

.radio__input {
  display: none; /* Скрытый элемент */
}

.radio__label {
  display: flex; /* Flex-контейнер */
  align-items: center; /* Выравнивание по центру по вертикали */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  position: relative; /* Относительное позиционирование */
  padding-left: 30px; /* Отступ слева 30px */
  font-size: 14px; /* Размер шрифта 14px */
}

.radio__label::before {
  content: ""; /* Пустое содержание для псевдоэлемента */
  width: 14px; /* Ширина 14px */
  height: 14px; /* Высота 14px */
  border: 1px solid #888888; /* Серая рамка толщиной 1px */
  border-radius: 50%; /* Закругленные углы */
  position: absolute; /* Абсолютное позиционирование */
  left: 0; /* Позиция слева от родителя */
  background-color: #fff; /* Белый фон */
}

.radio__input:checked + .radio__label::before {
  border-color: #000; /* Черная рамка */
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L7.5 0.5' stroke='black'/%3E%3C/svg%3E%0A"); /* Фоновое изображение галочки */
  background-repeat: no-repeat; /* Без повтора фонового изображения */
  background-position: center; /* Позиция фонового изображения по центру */
}

/* Диапазон */
.range {
  display: flex; /* Flex-контейнер */
  flex-direction: column; /* Выравнивание дочерних элементов по колонке */
  gap: 14px; /* Промежуток между элементами 14px */
}

.range__input {
  width: 190px; /* Ширина 190px */
  height: 10px; /* Высота 10px */
  overflow: hidden; /* Скрывает все, что выходит за пределы элемента */
  outline: none; /* Без обводки */
}

.range__input,
.range__input::-webkit-slider-runnable-track,
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Убирает стандартный стиль элементов */
  background: none; /* Без фона */
}

.range__input::-webkit-slider-runnable-track {
  width: 200px; /* Ширина 200px */
  height: 1px; /* Высота 1px */
  background: #000; /* Черный фон */
}

.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none; /* Без фона */
}

.range__input::-webkit-slider-thumb {
  position: relative; /* Относительное позиционирование */
  height: 8px; /* Высота 8px */
  width: 8px; /* Ширина 8px */
  margin-top: -4px; /* Отрицательный верхний отступ для выравнивания по центру */
  background: #000; /* Черный фон */
  border: 1px solid #000; /* Черная рамка толщиной 1px */
  border-radius: 25px; /* Закругленные углы */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  z-index: 1; /* Уровень наложения 1 */
}

.range__input::-webkit-slider-thumb:active {
  cursor: grabbing; /* Курсор в виде руки, захватывающей элемент, при активном состоянии */
}

.range__input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2; /* Уровень наложения 2 */
}

.range__slider {
  font-family: sans-serif; /* Шрифт sans-serif */
  font-size: 14px; /* Размер шрифта 14px */
  position: relative; /* Относительное позиционирование */
  height: 20px; /* Высота 20px */
  width: 210px; /* Ширина 210px */
  display: inline-block; /* Встроенно-блочное отображение */
  margin-top: -5px; /* Отрицательный верхний отступ */
}

.range__slider input {
  position: absolute; /* Абсолютное позиционирование */
}

.range__label {
  font-size: 14px; /* Размер шрифта 14px */
}

/* Опции цвета */
.color-options {
  display: flex; /* Flex-контейнер */
  flex-wrap: wrap; /* Перенос содержимого */
  max-width: 190px; /* Максимальная ширина 190px */
  gap: 14px; /* Промежуток между элементами 14px */
}

.color-options__checkbox {
  width: 15px; /* Ширина 15px */
  height: 15px; /* Высота 15px */
}

/* Чекбокс */
.checkbox {
  display: flex; /* Flex-контейнер */
  align-items: center; /* Выравнивание по центру по вертикали */
  gap: 10px; /* Промежуток между элементами 10px */
}

.checkbox__input {
  display: none; /* Скрытый элемент */
}

.checkbox__label {
  display: flex; /* Flex-контейнер */
  align-items: center; /* Выравнивание по центру по вертикали */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  position: relative; /* Относительное позиционирование */
  padding-left: 30px; /* Отступ слева 30px */
  font-size: 14px; /* Размер шрифта 14px */
}

.checkbox__label::before {
  content: ""; /* Пустое содержание для псевдоэлемента */
  display: inline-block; /* Встроенно-блочное отображение */
  width: 14px; /* Ширина 14px */
  height: 14px; /* Высота 14px */
  border: 1px solid #888888; /* Серая рамка толщиной 1px */
  position: absolute; /* Абсолютное позиционирование */
  left: 0; /* Позиция слева от родителя */
  background-color: #fff; /* Белый фон */
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L9 1' stroke='black'/%3E%3C/svg%3E%0A"); /* Фоновое изображение галочки */
  background-repeat: no-repeat; /* Без повтора фонового изображения */
  background-position: center; /* Позиция фонового изображения по центру */
  border-color: #000; /* Черная рамка */
}

/* Цвета чекбоксов */
.checkbox__label--white::before {
  background-color: #fff; /* Белый фон */
  border-color: #808080; /* Серая рамка */
}

.checkbox__label--black::before {
  background-color: #000; /* Черный фон */
  border-color: #000; /* Черная рамка */
}

.checkbox__label--gray::before {
  background-color: #737373; /* Серый фон */
  border-color: #737373; /* Серая рамка */
}

.checkbox__label--red::before {
  background-color: #f00; /* Красный фон */
  border-color: #f00; /* Красная рамка */
}

.checkbox__label--orange::before {
  background-color: #ff4500; /* Оранжевый фон */
  border-color: #ff4500; /* Оранжевая рамка */
}

.checkbox__label--yellow::before {
  background-color: #ff0; /* Желтый фон */
  border-color: #ff0; /* Желтая рамка */
}

.checkbox__label--green::before {
  background-color: #008000; /* Зеленый фон */
  border-color: #008000; /* Зеленая рамка */
}

.checkbox__label--teal::before {
  background-color: #40e0d0; /* Бирюзовый фон */
  border-color: #40e0d0; /* Бирюзовая рамка */
}

.checkbox__label--light-blue::before {
  background-color: #009fe3; /* Светло-синий фон */
  border-color: #009fe3; /* Светло-синяя рамка */
}

.checkbox__label--blue::before {
  background-color: #00f; /* Синий фон */
  border-color: #00f; /* Синяя рамка */
}

.checkbox__label--purple::before {
  background-color: #800080; /* Пурпурный фон */
  border-color: #800080; /* Пурпурная рамка */
}

.checkbox__label--violet::before {
  background-color: #8a2be2; /* Фиолетовый фон */
  border-color: #8a2be2; /* Фиолетовая рамка */
}

.checkbox__label--lavender::before {
  background-color: #d89aff; /* Лавандовый фон */
  border-color: #d89aff; /* Лавандовая рамка */
}

.checkbox__label--pink::before {
  background-color: #ff1493; /* Розовый фон */
  border-color: #ff1493; /* Розовая рамка */
}

.checkbox__input:checked + .checkbox__label--black::before,
.checkbox__input:checked + .checkbox__label--blue::before,
.checkbox__input:checked + .checkbox__label--purple::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L9 1' stroke='white'/%3E%3C/svg%3E%0A"); /* Фоновое изображение белой галочки */
}

@media (max-width: 1024px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .for.for__catalog {
    height: 268px;
  }
  .products {
    width: 834px;
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo_link {
    display: none;
  }
  .footer__logo {
    display: none;
  }
  .footer {
    background: rgb(247, 246, 246);
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 59px;
    align-items: flex-start;
  }
  .footer__content {
    margin-right: auto;
  }
  .filter {
    right: 5px;
  }
  .filtering-form {
    width: 541.5px;
  }
  .cart {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  .cart__buttons:nth-child(2):hover {
    background: rgb(0, 0, 0);
    color: white;
  }
  .cart__form {
    margin-top: 64px;
    grid-row: 2;
    grid-column: span 8;
    width: 376px;
    margin-top: 1px;
  }
  .cart__reg {
    padding-left: 27px;
    padding-right: 61px;
  }
  .button-right {
    border-radius: 50px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
  }
  .special {
    margin-bottom: 32px;
  }
}
@media (max-width: 783px) {
  .center {
    padding-left: 12px;
    padding-right: 12px;
  }
  .special__text {
    width: 379px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
    border-bottom: 0px;
  }
  .header__input {
    display: none;
  }
  .top-content {
    text-align: center;
  }
  .top-content__title {
    width: 343px;
    height: 177px;
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0%;
    text-align: center;
  }
  .top-content__link {
    width: 343px;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration-line: underline;
  }
  .top__menu {
    display: none;
  }
  .heading-big {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0%;
    text-align: center;
  }
  .for-title {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    width: 178px;
    height: 29px;
  }
  .product {
    width: 100%;
  }
  .products {
    width: 100%;
  }
  .catalog-top__menu {
    display: none;
  }
  .catalog-top__input {
    display: none;
  }
  .catalog-top__header {
    border-bottom: none;
  }
  .option {
    display: flex;
    flex-wrap: wrap;
  }
  .option__filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .container {
    padding-left: 0px;
  }
  .product-filter {
    width: 164px;
    height: 41px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 34px;
  }
  .product-filter1 {
    width: 203px;
    height: 41px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
  }
  .filtering-form {
    position: absolute;
    width: 286.5px;
    left: 16px;
    gap: 10;
    padding: 40px 48px 40px 48px;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
  }
  .filtering-form____content-wrapper {
    display: flex;
    flex-direction: column;
  }
  .filtering-form__content-wrapper {
    max-height: 910px; /* Максимальная высота 548px */
    min-width: 286.5px;
  }
  .logo__img {
    width: 99px;
  }
  .menu-mobile {
    display: block;
    display: flex;
    gap: 32px;
  }
  .icon-mobile {
    margin-top: 2px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
  }
  .for__catalog {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__catalog_big {
    height: 244px;
  }
  .special__title {
    width: 342.91px;
    height: 58px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
  }
  .special__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .special__text {
    width: 342.93px;
    height: 52px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
  }
  .price {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .price_special {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .footer {
    padding-bottom: 32px;
  }
  .footer__info {
    display: flex;
    gap: 100px;
    margin-bottom: 70px;
  }
  .footer__button {
    margin-top: 69px;
    justify-content: center;
    gap: 8px;
  }
  .footer__text {
    margin: 0;
  }
  h4 {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }
  .cart {
    grid-row: 2;
    border-radius: 20px;
  }
  .cart__form-bigtext {
    width: 343px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
  }
  .cart__form {
    margin-top: 1px;
    grid-row: 2;
    grid-column: span 8;
    width: 343px;
  }
  .cart__content {
    grid-column: span 8;
  }
  .cart__title {
    height: 58px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
  }
  .cart__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .cart__text {
    height: 52px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
  }
  .cart__name-box {
    display: none;
  }
  .cart__item {
    border-top: 0.5px solid rgb(202, 205, 216);
    padding-top: 25px;
    padding-bottom: 32px;
    display: flex;
    width: 50%;
  }
  .cart__img {
    display: none;
  }
  .cart__info {
    height: 167px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .cart__text {
    color: rgb(136, 136, 136);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
  }
  .cart__price {
    color: rgb(5, 5, 5);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
  }
  .cart__link-box {
    display: flex;
    gap: 30px;
  }
  .cart__link-text {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 210%;
    letter-spacing: 0px;
    text-decoration-line: underline;
  }
  .cart__input {
    width: 71px;
    height: 51px;
    border-radius: 6px;
  }
  .cart__button-box-left {
    display: flex;
    gap: 7px;
  }
  .cart__button {
    width: 166px;
    height: 37px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
  }
  .center-mobile {
    margin-left: 57px;
    margin-right: 66px;
  }
}/*# sourceMappingURL=style.css.map */